.col-md-4{
  padding-bottom: 20px;
}

*{
  background-color: black;
  color:white;
}

.display-3{
  padding-left:5%;
}

.navbar-brand{
  font-size:1.9rem;
}

.navbar-brand:hover{
  opacity:50%;
}

.navLink:hover{
  color:white;
  text-decoration: none;
}

.navLink {
  color: white;
  font-size:1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navLink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navLink:hover:after { 
  width: 100%; 
  left: 0; 
}

@media (min-width: 768px)
{
    .navbar-toggler{
        display: none;
    }
}

@media (max-width: 768px)
{
    .nav{
        display: none;
    }
}