.col-md-4{
  padding-bottom: 20px;
}

*{
  background-color: black;
  color:white;
}

.display-3{
  padding-left:5%;
}

.navbar-brand{
  font-size:1.9rem;
}

.navbar-brand:hover{
  opacity:50%;
}

.card-img-top{
  height:350px;
  object-fit: cover;
}

.navLink:hover, .navLinkBrand:hover{
  color:white;
  text-decoration: none;
}

.navLink, .navLinkBrand{
  color: white;
  font-size:1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navLink:after, .navLinkBrand:after{    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navLinkBrand:hover:after, .navLink:hover:after { 
  width: 100%; 
  left: 0; 
}

.navLinkCollapse{
  color: white;
  font-size:1.2rem;
  margin-top:1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
}
.navLinkCollapse:hover{
  text-decoration: none;
  opacity: 50%;
  color: white;
}

.navbar-collapse{
  margin-top:2rem;
}

.form-control:focus {
  border-color: rgba(0, 255, 255, 0.993);
  box-shadow: inset 0 1px 1px rgba(0, 255, 255, 0.993), 0 0 12px rgba(0, 255, 255, 0.993);
}



@media (min-width: 768px)
{
    .navbar-toggler{
        display: none;
    }
}

@media (max-width: 768px)
{
    .navLink{
        display: none;
    }
}

