*{
  background-color: black;
  color:white;
  outline: 0;
}

/*Home text*/
.citation{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 6px;
  padding:10%
}

.title-home{
  letter-spacing: 5px;
}

.subtitle-home{
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.photoPresentation{
  width:100%;
  object-fit: cover;
}



/*Navbar*/
.navbar-brand{
  font-size:1.9rem;
}

.socialIcon:hover{
  opacity:50%;
}

.navLink:hover, .navLinkBrand:hover{
  color:white;
  text-decoration: none;
}

.navLink, .navLinkBrand{
  color: white;
  font-size:1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navLink:after, .navLinkBrand:after{    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navLinkBrand:hover:after, .navLink:hover:after { 
  width: 100%; 
  left: 0; 
}

.navLinkCollapse{
  color: white;
  font-size:1.2rem;
  margin-top:1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
}
.navLinkCollapse:hover{
  text-decoration: none;
  opacity: 50%;
  color: white;
}

.navbar-collapse{
  margin-top:2rem;
}

.navbar-toggler {
    border: none;
    margin-top: 0.5rem
}

/*Form email*/
.form-control:focus {
  border-color: rgba(0, 255, 255, 0.993);
  box-shadow: inset 0 1px 1px rgba(0, 255, 255, 0.993), 0 0 12px rgba(0, 255, 255, 0.993);
}

.form-label{
  margin-top:1rem
}


/*Footer*/
.linkFooter{
  color:white;
  text-decoration: none;
}

.linkFooter:hover{
  color:white;
}



/*Card photo*/
.card-img-top{
  height:350px;
  object-fit: cover;
}


/*Photo list*/
.photoCarouselView{
  width: 100%;
  height: 80vh;
  object-fit: contain;
}

.modal-content{
  background-color: transparent;
}

.photoInGallery{
  width:100%;
  object-fit: cover;
}



/*About me*/
.measureList{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}



.biography{
  padding: 10%;
  font-size: 1.2rem;
}






@media (min-width: 768px)
{
    .navbar-toggler{
        display: none;
    }
}

@media (max-width: 768px)
{
    .navLink{
        display: none;
    }

    .navLinkBrand:after{
      transition: none;
      background: none;
    }

    .navLinkBrand:hover{
      opacity:50%
    }

    .aboutImage{
      display: none;
    }
}

